body {
    font-size: 13px;
}
h1 {
    font-size: 22px !important;
    margin: 15px 0 !important;;
}
.summary_detail td {
    padding: 10px 0 !important;
}
.summary_detail {
    font-size: 15px;
    line-height: 22px;
}
.summary {
    border-radius: 5px;
    background: #f7f7f7;
    padding: 10px;
    margin: 0 10px;
}